<md-toolbar
  class="chat__main__header"
>{{currentChat.name}}
  <a md-mini-fab
    class="chat__main-delete-chat"
    (click)="onDeleteChat()"
  ><i class="material-icons">delete</i></a>
</md-toolbar>
<md-card class="chat__main">
  <div class="chat__main-window">
  </div>
  <form novalidate
        [formGroup]="message"
        (ngSubmit)="onSubmit(message)">
    <md-input-container class="chat__main-form">
        <textarea
          mdInput
          placeholder="Ваше сообщение"
          type="text"
          formControlName="message">
        </textarea>
    </md-input-container>
    <button
      md-raised-button
      type="submit">
      Отправить
    </button>
  </form>
</md-card>
