<md-toolbar
  class="chat__main__header"
>{{currentChat.name}}
  <a md-mini-fab
    class="chat__main-delete-chat"
     *ngIf="false"
    (click)="onDeleteChat()"
  ><i class="material-icons">delete</i></a>
</md-toolbar>
<md-card class="chat__main">
  <div class="chat__main-window">
  </div>
  <form novalidate
        [formGroup]="message"
        (ngSubmit)="onSubmit()">
    <div class="chat__main_input-wrapper">
      <md-input-container class="chat__main-form">
        <textarea
            mdInput
            placeholder="Ваше сообщение"
            type="text"
            rows="4"
            formControlName="newMessage">
        </textarea>
      </md-input-container>
    </div>
    <md-toolbar
        class="chat__main__header"
    >
      <button
          class="chat__main-send-button"
          md-raised-button
          type="submit">
        Отправить
      </button>
    </md-toolbar>
  </form>
</md-card>
