<div class="login">
  <div class="login__form">
    <md-card class="position__center login__form-card">
      <md-card-title>Авторизация</md-card-title>
      <md-card-content class="position__vertical">
        <md-input-container class="w90">
          <input
            mdInput
            placeholder="Логин"
            #login>
        </md-input-container>
        <md-input-container class="w90">
          <input
            mdInput
            placeholder="Пароль"
            type="password"
            #password>
        </md-input-container>
      </md-card-content>
      <button
        md-raised-button
        class="w90"
        (click)="tryToLogin(login.value, password.value)">
        Войти
      </button>
    </md-card>
  </div>
</div>

