<div class="login">
  <div class="login__form">
    <form
      novalidate
      [formGroup]="user"
      (ngSubmit)="onSubmit(user)">
    <md-card class="position__center login__form-card">
      <md-card-title>Авторизация</md-card-title>
      <md-card-content class="position__vertical">
        <md-input-container class="w90">
          <input
            mdInput
            placeholder="Логин"
            formControlName="username">
        </md-input-container>
        <md-input-container class="w90">
          <input
            mdInput
            placeholder="Пароль"
            type="password"
            formControlName="password">
        </md-input-container>
      </md-card-content>
      <button
        md-raised-button
        class="w90"
        type="submit"
        [disabled]="user.invalid">
        Войти
      </button>
    </md-card>
    </form>
  </div>
</div>

