<div class="user-list">
  <md-toolbar class="user-list__header">
    <span>Контакты</span>
  </md-toolbar>
  <div class="user-list__wrapper"
       appPaginator
       (onScrollDown)="getNextUsers($event)">
    <div>
      <div *ngFor="let user of userList">
        <md-card class="user-list__card"
                 *ngIf="user.displayname"
                 (click)="onUserSelect(user)">
          <img [src]="'data:image/jpg;base64,' + user.thumbnailphoto"
               *ngIf="user.thumbnailphoto"
               class="user-list__photo">
          <span class="user-list__photo-default"
                *ngIf="!user.thumbnailphoto">?</span>
          <md-card-subtitle class="user-list__name">{{user.displayname}}</md-card-subtitle>
        </md-card>
      </div>
    </div>
  </div>
  <md-toolbar class="user-list__header">
    <a class="user-list__create-chat"
       (click)="hideContacts()"
    > <i class="material-icons user-list__back-arrow">arrow_back</i><span class="user-list__create-chat-pointer">Назад</span></a>
  </md-toolbar>
</div>
