$violet: #673ab7;

.position {
  &__center {
    text-align: center;
  }
  &__vertical {
    display: flex;
    flex-direction: column;
  }
}

.w90 {
  width: 90%;
}

.button {
  color: $violet;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
