<div class="chat-list">
  <md-toolbar class="chat-list__header">
    <span>Чаты</span>
  </md-toolbar>
  <div class="chat-list__wrapper">
    <div *ngFor="let chat of chatList">
      <md-card class="chat-list__card"
               *ngIf="chat.name"
               (click)="onChatSelect(chat)">
        <md-card-subtitle class="chat-list__name">{{chat.name}}</md-card-subtitle>
      </md-card>
    </div>
  </div>
  <md-toolbar class="chat-list__header">
    <a  md-mini-fab
        class="chat-list__create-chat"
        (click)="onCreateChat()"
    >+</a> <span>Создать новый чат</span>
  </md-toolbar>
</div>
